* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    color: black;
}

a#home-link{
    right: 5%;
    top: 55%;
}

a:hover{
    color: white

}

body, html{
    margin: 0px;
}

button.sort-critera{
    position: absolute;
    background-color:  rgba(255, 99, 71, 0.72);
    width: 100px;
    height: 30px;
    border: solid black 1px;
    border-radius: 20px;
    color: black;
    text-align: center;
    top: 65%;
    transform: translate(-50%, -50%);
}

button#nav-button{
    left: 5%;
    top: 50%;
    background-color: rgba(50, 85, 115, 1);
    border: black 1px solid;
    font-size: 25px;
    border-radius: 10px;
    height:25px;
    text-align: center;
}

button#nav-button:hover{
    color: white;
}

button.sort-critera:hover{
    background-color:  rgba(255, 99, 71, 1) ;
}

button#region{
    left: 75%;
}

button#area{
    left: 65%;
    
}

button#languages{
    left: 55%;
    
}

button#population{
    left: 45%; 
}

button#gini{
    left: 35%;
}

button#name{
    left: 25%;
}

button#a-z{
    position: absolute;
    left: 35%;
    transform: translate(-50%, -50%);
    top: 25%;
    width: 150px;
    height: 30px;
    border: solid black 1px;
    border-radius: 20px;
    background-color:  rgba(255, 99, 71, .72);
}

button#a-z:hover{
    background-color:  rgba(255, 99, 71, 1);
}

button#to-top{
    background-color: rgba(255, 99, 71, 0.707);
    text-align: center;
    height: 35px;
    width: 100%;
    margin: 0px;
    padding: 0%;
    border: none;
}

button#to-top:hover{
    color: white;
}

button#scroll-to-data{
    position: absolute;
    left: 65%;
    transform: translate(-50%, -50%);
    top: 25%;
    width: 150px;
    height: 30px;
    border: solid black 1px;
    border-radius: 20px;
    background-color:  rgba(255, 99, 71, .72);
}

button#scroll-to-data:hover{
    background-color:  rgba(255, 99, 71, 1);
}

div#nav-div{
    position: sticky;
    background-color: rgba(255, 99, 71, .8);
    top:0%;
    height: 75px;
    margin: 0px;
    border: 1px black solid;
    border-radius: 3px;
    border-top:none;
}

div#header-div{
    background-image: url("/code/countrycoupling/couplingcountries/images/images/globe-2.jpg");
    background-color: rgba(50, 85, 115, 1);
    background-blend-mode: hard-light;
    background-position-y: 2000px;
    background-position-x: -800px;
    width: 100%;
    height: 200px;
    position: relative;
    margin: 0%;
    z-index: -1;
    position: sticky;
    border: solid black 2.5px;
}

div#section-div{
    position: relative;
    height: 125px;
    background-color: rgba(50, 85, 115, .95);
    border-top: solid black 1px;
    border-bottom: solid black .5px;
}

div#main-div{
    background: rgb(50,85,115);
    background: linear-gradient(143deg, rgba(50,85,115,1) 20%, rgba(177,177,184,1) 27%, rgba(255,99,71,1) 80%, rgba(50,85,115,1) 87%);
    overflow: visible;
    min-height: 510px;
}

div#footer-div{
    position: relative;
    background-color:rgb(50, 85, 115, 1);
    height: 75px;
    text-align: center;
    border-top: black solid 1px;
    border-radius: 3px;
}

div#figure-div{
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: rgb(50, 85, 115, .7);
}

figure{
    
    border: black solid 1px;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
}

h1#button-descr{
    left: 9%;
    top: 34%;
    font-size: 20px;
}

h1#country-heading{
    top: 20%;
    left: 30%;
    font-size: 40px;
    border-top: solid black 1px;
}

h1#coupling-heading{
    top: 20%;
    left: 70%;
    font-size: 40px;
    border-bottom: solid black 1px;
    padding-bottom: 0px;
}

h1#header-header{
    top: 25%;
    left: 50%;
}

h2#country-amount{
    top: 55%;
    left: 50%;
}

h3#search-criteria{
    top:85%;
    left: 50%;
}


h1#header-header{
    font-size: 40px;
}

h2#country-amount{
    font-size: 25px;
}

h3#search-criteria{
    font-size: 20px;
    text-decoration: underline;
    background-color:  rgba(255, 99, 71, .8);
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px 20px;
}

h1#graph-heading{
    margin-top: 5%;
    text-align: center;
}

h1#slogan{
    position: absolute;
    text-decoration:overline;
    text-decoration: underline;
    left: 50%;
    top: 50%;
    font-size: 20px;
}


input#search-button{
    top: 50%;
    left: 50%;
    height: 30px;
    width: 300px;
    text-align: center;
    border: solid black 1px;
    border-radius: 10px;

}

input#search{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 25%;
    height: 30px;
    width: 400px;
    border: solid black 1px;
    border-radius: 20px;
    text-align: center;
}

li.info-block{
    display: inline-block;
    margin: 20px;
    font-size: 18px;
    color: black;
    border-right: solid black 2px;
    padding-right: 50px;

}
li.info-block:hover{
    background-color: rgba(255, 99, 71, 0.72);
}

section#section-two {
    height: 0px;
    width: 0px;
}

ul#main-list{
    list-style-type: none;
    text-align: center;
    margin: 0px;
    padding-left: 0px;
}


ul#info-list{
    list-style-type: none;
    margin: 0%;
}

.nav-class{
    position: absolute;
    transform: translate(-50%, -50%);

}

.header-div{
    margin: 0%;
    padding: 0%;
    position: absolute;
    transform: translate(-50%, -50%);

}

@media screen and (max-width: 1919px){
    button.sort-critera{
        width: 85px;
    }

    input#search {
        left: 35%;
        width: 150px;
    }

    button#button-descr{
        left: 40%;
    }
}

@media screen and (max-width: 948px){
    button.sort-critera{
        width: 60px;
        font-size: 9px;
    }

    button#region{
        left: 89%;
    }
    
    button#area{
        left: 75.1%;
        
    }
    
    button#languages{
        left: 61.5%;
        
    }
    
    button#population{
        left: 48%; 
    }
    
    button#gini{
        left: 34%;
    }
    
    button#name{
        left: 20%;
    }
    button#scroll-to-data {
        left: 77%;
    }
    div#footer-div{
        height: 125px ;
    }
    
}

@media screen and (max-width: 948px){
    div#footer-div{
        height: 175px ;
    }
}

@media screen and (max-width: 1084px){
    h1#button-descr{
        font-size: 15px;
        left: 12%
    }
    h1#slogan{
        font-size: 15px;
    }
    h1#country-heading{
        font-size: 15px;
    }
    h1#country-heading{
        font-size: 15px;
    }
    h1#coupling-heading{
        font-size: 15px;
    }
    h1#button-descr{
        left: 16%;
        top: 40%;
        font-size: 12px;
    }
    a#home-link{
        font-size: 12px;
    }
}


@media screen and (max-width: 1680px){
    h1#button-descr{
        left: 16%
    }
}

@media screen and (max-width: 739px) {
    h1#header-header{
        font-size: 28px;
        text-align: center;
    }

    h2#country-amount{
        font-size: 18px;
        text-align: center;
    }

    h3#search-criteria{
        font-size: 15px;
        text-align: center;
    }
}

@media screen and (max-width: 1919px){
    table#figure-table{
        width: 70% ;
    }
}
